@model ComplexModelBinding.Models.Order

@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>

    @*@foreach(var item in Model.CartItems) // have to drill down to get to the list
    {
        <p>
            Cart Item has product @item.ProductId
            with a qty of @item.Quantity
        </p>
    }*@

    @Html.Partial("_DisplayCartItems", Model.CartItems)

</div>

